report/**
!report/report.tex
!report/udesa_logo.png

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
System Volume Information/
*.stackdump
*.lnk
Autorun.inf

__pycache__